<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath()}+'/'"/>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/jquery.js"></script>
    <script>
        function sendPassword() {
             var username = $("#username").val();
            $.get("/sso/sendPassword",{"username":username},function (data) {
                    if (data.code == "0000"){
                        //发送成功
                        $("#spanid").html("找回密码的邮件已发送到"+data.emailStr+"邮箱,<a href='http://"+data.gomail+"'>去邮箱点这里</a>")
                    } else if (data.code == "1000"){
                        alert("用户名不存在！");
                    }
            },"json");
        }
    </script>
</head>
<body>
<h1><font color="red">忘记密码</font></h1>
    用户名：<input type="text" name="username" id="username"/><br/>
    <br/>
    <button type="button" onclick="sendPassword()">找回密码</button><span id="spanid"></span>
</body>
</html>